.container {
    width: 30rem;
    height: 100vh;
    background-color: var(--dark);
    position: fixed;
    top: 0;left: 0;
    user-select: none;
    overflow: auto;
    z-index: 10;
}
.btn_back {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 10px 15px 30px;
}
.btn_back span {
    font-size: 2.5rem;
    color: var(--light);
    margin-bottom: 1rem;
}
.login,
.signin {
    border: 0;
    width: 95%;
    margin: 8px 0;
    padding: 9px 0;
    border-radius: 5px;
    transition: .5s;
}
.login {
    background-color: inherit;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 10px;
}
.login:hover {
    background-color: var(--primary);
    color: var(--light);
}
.signin {
    background-color: var(--primary);
    color: var(--light);
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 10px;
}
.signin:hover {
    background-color: #613daf;
}
nav {
    width: 95%;
    margin-top: 15px;
}
.list_item {
    width: 100%;
    list-style-type: none;
}
.item_nav {
    padding: 1.7rem 0;
    border-top: 1px solid var(--default);
}
.item_link {
    color: var(--light);
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: .5s;
}
.item_link:hover {
    color: var(--success);
}
.item_link img {
    margin-left: 15px;
}
.item_link i {
    margin-right: 5px;
}
/* page of navbar */
.item_list_price {
    list-style-type: none;
    margin: 10px 5px;
    background-color: var(--scroll-bar-color-hover);
    transform: scale(0);
    transform-origin: top;
    transition: .5s;
}
.item_nav_price {
    padding: 10px 5px;
}
.item_nav_price:nth-child(5) {
    border-top: 1px solid var(--light);
    padding-top: 10px;
}
.item_link_price {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
}
@media screen and (min-width: 1200px) {
    .container {
        display: none;
    }
}