/* page of navbar */
.item_list_price {
    list-style-type: none;
    margin: 10px 5px;
    background-color: var(--scroll-bar-color-hover);
}
.item_nav_price:hover,
.item_nav_price:hover a {
    background-color: #454546;
    color: var(--success);
}
.item_nav_price {
    padding: 10px 5px;
}
.item_nav_price:nth-child(5) {
    border-top: 1px solid var(--light);
    padding-top: 10px;
}
.item_link_price {
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
}